doctype html
html
  head
    title Stay Safe With Me
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
  body
    header
      .logo.col-md-3
        h1#logo STROIT
        div.peace| Detroit life
      .search-bar.col-md-9
        input#origin-input.controls(type='text', placeholder='Enter an origin location')
        input#destination-input.controls(type='text', placeholder='Enter a destination location')
    #map